[user]
  name  = luckypool
  email = luckypool314@gmail.com
[color]
  ui = auto
[alias]
  ll = log --graph --decorate --oneline
  tr = log --graph --all --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout
  st = status
  ci = commit
  br = branch
  merge = merge --no-ff
[core]
  editor = vim
	excludesfile = /Users/yuta.yoshiike/.gitignore_global
[heroku]
  account = personal
# [hub]
#   host = github.lo.mixi.jp
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
